<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>

        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>

            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Productos</h5>

                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                                <li class="breadcrumb-item text-muted">
                                    <a [routerLink]="['/productos']" class="text-muted">Lista de productos</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a class="text-muted">Nuevo producto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <div class="card card-custom">
                            <div class="card-body p-0">
                                <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                                    <div class="col-xl-12 col-xxl-7">
                                        <form class="form" id="kt_projects_add_form">
                                            <div class="pb-5">
                                                <h3 class="mb-10 font-weight-bold text-dark">Nuevo producto:</h3>
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <input class="form-control form-control-lg form-control-solid" name="titulo" type="text" placeholder="Nombre del producto" [(ngModel)]="producto.titulo" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Categoría</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <select class="form-control form-control-lg form-control-solid selectpicker" data-size="7" data-live-search="true" name="categoria" [(ngModel)]="producto.categoria">
                                                                    <option value="" selected disabled>Seleccionar
                                                                    </option>
                                                                    <option value="{{item.titulo}}" *ngFor="let item of categorias">
                                                                        {{item.titulo}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Tipo</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <select name="tipo" class="form-control form-control-lg form-control-solid" [(ngModel)]="producto.tipo">
                                                                    <option value="" disabled selected>Seleccionar</option>
                                                                    <option value="Materias primas">Materias primas</option>
                                                                    <option value="Productos semiacabados">Productos semiacabados</option>
                                                                    <option value="Productos acabados">Productos acabados</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Variedad</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <input class="form-control form-control-lg form-control-solid" name="tipo_variedad" type="text" placeholder="Color, Talla, etc" [(ngModel)]="producto.tipo_variedad" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Descripción</label>
                                                            <div class="col-lg-9 col-xl-9">
                                                                <textarea class="form-control form-control-lg form-control-solid" name="descripcion" type="text" placeholder="Resumen del producto" [(ngModel)]="producto.descripcion"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Portada</label>
                                                            <div class="col-9">
                                                                <div class="image-input image-input-empty image-input-outline" id="kt_user_edit_avatar" style="background-image: url({{str_portada}})">
                                                                    <div class="image-input-wrapper"></div>
                                                                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="Portada">
                                                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" (change)="fileEventChange($event)" />
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between mt-5">
                                                <div class="mr-2">
                                                    <button type="button" [routerLink]="['/productos']" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4">Regresar</button>
                                                </div>
                                                <div>
                                                    <button *ngIf="!load_btn" type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4 mr-3" (click)="crear()">Crear</button>
                                                    <button *ngIf="load_btn"  type="button" class="btn btn-success font-weight-bolder px-9 py-4" disabled>
                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                        Creando...
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>