<!--begin::Header-->
<div id="kt_header" class="header header-fixed" [ngStyle]="{'background-color': background}">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Header Menu Wrapper-->
        <div class="topbar">



        </div>
        <!--end::Header Menu Wrapper-->
        <!--begin::Topbar-->
        <div class="topbar" [ngStyle]="{'background-color': background}">

            <div class="topbar-item" *ngIf="showLogout">
                <!--begin::Header Nav-->
                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2  mr-3"
                    id="kt_quick_user_toggle" style="background-color: #282f48;" data-toggle="modal"
                    data-target="#logoutModal">
                    <span class="text-muted font-weight-bold font-size-base d-md-inline mr-1">
                        <a class="menu-link menu-toggle" style="background-color: #282f48;">
                            <span class="menu-text" style="color: white !important">Cerrar sesión</span>

                        </a>
                    </span>

                </div>
                <!--end::Header Nav-->
            </div>

            <!--begin::User-->

            <div class="topbar-item">
                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
                    id="kt_quick_user_toggle" style="background-color: #282f48;" (click)="toggleLogout()">
                    <span class="text-muted font-weight-bold font-size-base d-md-inline mr-1">
                        <ng-container *ngIf="!isSmallScreen; else smallScreenPanel">
                            Panel de {{user.rol}}
                        </ng-container>
                        <ng-template #smallScreenPanel>
                            {{user.rol}}
                        </ng-template>
                    </span>
                </div>
            </div>

            <div class="topbar-item pl-3 pr-3">
                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
                    id="kt_quick_user_toggle" style="background-color: #282f48;" (click)="toggleLogout()">
                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">
                        <ng-container *ngIf="!isSmallScreen">Hola,</ng-container>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base d-md-inline mr-3">
                        <!-- Mostrar un nombre solo en pantallas de celulares -->
                        <ng-container *ngIf="isVerySmallScreen; else fullName">
                            {{user.nombres.split(' ')[0]}}
                        </ng-container>
                        <ng-template #fullName>
                            {{user.nombres}}
                        </ng-template>
                    </span>
                    <span class="symbol symbol-35 symbol-light-success">
                        <span class="symbol-label font-size-h5 font-weight-bold">
                            {{user.nombres.substr(0,1)}}{{user.apellidos.substr(0,1)}}
                        </span>
                    </span>
                </div>
            </div>

            <div class="topbar-item pt-1" id="kt_aside_mobile_toggle">
                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
                    id="kt_aside_mobile_toggle" style="background-color: #282f48;">
                    <button class="btn p-0 burger-icon burger-icon-left">
                        <span></span>
                    </button>
                </div>
            </div>

            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>


<!--end::Header-->

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que quiere cerrar la sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger font-weight-bold" (click)="logout()">Cerrar
                    sesión</button>
            </div>
        </div>
    </div>
</div>